@model ExpenseTracker.WebUI.Models.Transaction.ListModel

@{
    ViewData["Title"] = "İşlemler";
}

<h3 class="text-center">[ @Model.CurrentMonthName - @Model.CurrentYear ]</h3>

<div class="row">
    <div class="col-sm-6 text-left">
        @Html.ActionLink("Önceki Ay", "Index", "Transaction", new { month = (Model.CurrentMonth == 1 ? 12 : Model.CurrentMonth - 1), year = (Model.CurrentMonth == 1 ? Model.CurrentYear - 1 : Model.CurrentYear), accountId = Model.CurrentAccountId }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-sm-6 text-right">
        @Html.ActionLink("Sonraki Ay", "Index", "Transaction", new { month = (Model.CurrentMonth == 12 ? 1 : Model.CurrentMonth + 1), year = (Model.CurrentMonth == 12 ? Model.CurrentYear + 1 : Model.CurrentYear), accountId = Model.CurrentAccountId }, new { @class = "btn btn-primary" })
    </div>
</div>

<p>
    @Html.ActionLink("Yeni İşlem", "Create", "Transaction", new { accountId = Model.CurrentAccountId }, new { @class = "btn" })
</p>

<div id="transaction-table" class="table-dark"></div>

@section Scripts{
    <script>
        var table;
        //https://github.com/olifolkerd/tabulator/issues/153 -> Editing the grid with a modal window
        $(document).ready(function () {
            var accountVisible = @(Model.CurrentAccountId == 0 ? "true" : "false");

            table = new Tabulator("#transaction-table", {
                //height: 205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
                //data: tabledata, //assign data to table
                ajaxURL: "/Transaction/GetTransactionList",
                ajaxParams: {StartDate:"@(Model.StartDate)", EndDate:"@(Model.EndDate)", CurrentAccountId: "@(Model.CurrentAccountId)"},
                index: "id",
                layout: "fitColumns",
                resizableColumns:false,
                headerSort:false,
                placeholder: "Bu tarih aralığında işlem bulunmuyor.",
                columns: [
                    {
                        title: "Tarih",
                        field: "date",
                        formatter: "datetime",
                        formatterParams: {
                            inputFormat: "",
                            outputFormat: "DD MMM yyyy",
                            invalidPlaceholder: "(invalid date)",
                        }
                    },
                    { title: "Hesap", field: "accountName", visible:accountVisible },
                    { title: "Karşı Hesap", field: "targetAccountName" },
                    { title: "Kategori", field: "categoryName" },
                    {
                        title: "Tutar",
                        field: "amount",
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: ".",
                            symbol: " TL",
                            symbolAfter: "p",
                            precision: 2,
                        }
                    },
                    { title: "Açıklama", field: "description" },
                    {
                        title: "Gelir Mi?",
                        field: "isIncome",
                        formatter: "tickCross",
                        formatterParams: {
                            allowEmpty: true,
                            //tickElement: "<i class='fa fa-check'></i>",
                            tickElement:"Evet",
                            crossElement: false,
                            //crossElement: "<i class='fa fa-times'></i>",
                        }
                    },
                ],
                rowDblClick: function (e, row) {
                    location.href = "/Transaction/Edit/" + row.getData().id;
                },
                rowDblTap: function (e, row) {
                    location.href = "/Transaction/Edit/" + row.getData().id;
                },
            });
        });
    </script>
}
