@model ExpenseTracker.WebUI.Models.Dashboard.IndexModel

@{
    ViewData["Title"] = "Özet";
}

<h1 class="text-center">Özet</h1>
<h3 class="text-center">[ @Model.CurrentMonthName - @Model.CurrentYear ]</h3>

<div class="row">
    <div class="col-sm-6 text-left">
        @Html.ActionLink("Önceki Ay", "Index", "Dashboard", new { month = (Model.CurrentMonth == 1 ? 12 : Model.CurrentMonth - 1), year = (Model.CurrentMonth == 1 ? Model.CurrentYear - 1 : Model.CurrentYear) }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-sm-6 text-right">
        @Html.ActionLink("Sonraki Ay", "Index", "Dashboard", new { month = (Model.CurrentMonth == 12 ? 1 : Model.CurrentMonth + 1), year = (Model.CurrentMonth == 12 ? Model.CurrentYear + 1 : Model.CurrentYear) }, new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Kategori
            </th>
            <th>
                Kayıtlı Tutar
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Categories?.Count > 0)
        {
            foreach (var mainCategory in Model.Categories)
            {
                @*<tr style="background: #0094ff">*@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => mainCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mainCategory.RecordedAmount)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
